.how {
    width: 327px;
    height: 360px;
    background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
    border-radius: 15px;
    padding: 24px 22px 32px 24px;
}

.star {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #262E38;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #969FAD;
    margin-top: 10px;
}

button {
    width: 279px;
    height: 45px;
    background-color: #FC7614;
    border-radius: 22.5px;
    margin-top: 24px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1.86667px;
    color: #FFFFFF;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

button:hover {
    background-color: #FFFFFF;
    color: #FC7614;
}

.rating {
    display: flex;
    gap: 18px;
    margin-top: 24px;
}